.theme {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  flex-direction: column;
  background: rgb(34, 34, 49);
  background: linear-gradient(
    90deg,
    rgba(34, 34, 49, 1) 19%,
    rgba(27, 61, 75, 1) 100%,
    rgba(3, 160, 169, 1) 100%,
    rgba(2, 0, 36, 1) 100%,
    rgba(0, 173, 181, 1) 100%
  );
}
.task_box {
  margin-top: 2%;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  height: 95%;
  box-shadow: 9px 9px 0 rgba(0, 0, 0, 30%);
  background-image: radial-gradient(
    circle at 120.71% 50%,
    #7da7a3 0,
    #659997 16.67%,
    #448788 33.33%,
    #037177 50%,
    #005c67 66.67%,
    #004a5c 83.33%,
    #003d54 100%
  );
  padding: 1% 0 2%;
}
h1 {
  font-size: 60px;
  color: #eee;
  text-transform: uppercase;
  margin-top: 0;
}
input,
textarea {
  border: 2px solid #00adb5;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  padding: 5px 20px;
}
input[type='text'] {
  height: 6vh;
}

.datebox {
  width: 100%;
  height: 5%;
  margin-top: 7%;
  display: flex;
  justify-content: center;
}

.datebox input {
  width: 40%;
  height: 100%;
  height: 5vh;
}
.datebox span {
  font-size: 30px;
  color: #eee;
  padding: 0 2%;
}
label {
  font-size: 30px;
  color: #eee;
  margin: 30px 0;
  cursor: pointer;
}
label input {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
textarea {
  width: 80%;
  height: 200px;
  font-size: 20px;
  padding: 10px;
  resize: none;
}
.button_box {
  width: 85%;
  height: 50px;
  margin-top: 8%;
  display: flex;
}
.button_box button {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 30%);
  color: #eee;
  border: 2px solid #eee;
  font-size: 25px;
  margin: 0 2%;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}
.button_box button:hover {
  background-color: #fff;
  color: black;
}
p {
  font-size: 20px;
  color: white;
  padding: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.priority {
  line-height: 25px;
}
.task_box .calendar {
  width: 60%;
  margin: 4% 0 2%;
}

@media only screen and (max-width: 1080px) {
  .task_box {
    width: 100%;
    border-radius: unset;
    border: none;
    height: 90vh;
    margin-top: 0;
    background-image: none;
  }
  input,
  textarea {
    width: 90%;
    font-size: 50px;
  }
  .datebox input {
    width: 43%;
  }
  .task_box label {
    margin: 8%;
    font-size: 60px;
  }
  #priority {
    width: 40px;
    height: 40px;
  }
  .task_box textarea {
    height: 40%;
  }
  .button_box {
    width: 94%;
    height: 8%;
  }
  .button_box button {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  input,
  textarea {
    font-size: 30px;
  }
  .theme h1 {
    margin: 3% 0;
  }
  .task_box label {
    font-size: 45px;
  }
  #priority {
    width: 35px;
    height: 35px;
  }
  .button_box button {
    font-size: 30px;
  }
}
@media only screen and (max-width: 360px) {
  input,
  textarea,
  .button_box button {
    font-size: 15px;
  }
  .task_box label {
    font-size: 25px;
  }
  #priority {
    width: 20px;
    height: 20px;
  }
  .theme h1 {
    margin: 2% 0 8%;
  }
}
