.account {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.account a:nth-child(1) {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.account button {
  width: 40%;
  padding: 3% 0;
  cursor: pointer;
  text-transform: uppercase;
  border: 3px solid white;
  color: white;
  background-color: #00adb5;
  font-size: 20px;
}

.account input {
  padding: 2% 0;
}
.theme h1 {
  margin-top: 2%;
}
.account button {
  margin-top: 5%;
}
.or_register {
  font-size: 25px;
}
@media only screen and (max-width: 1080px) {
  .theme h1 {
    margin: 0;
    margin-top: 4%;
  }
  .text_login {
    font-size: 50px;
  }
  .account {
    width: 35%;
  }
  .account button {
    margin-top: 5%;
    width: 45%;
  }
  .or_register {
    padding: 5% 0 2%;
    margin: 0;
  }
}
@media only screen and (max-width: 1366px) {
  label {
    margin: 25px;
  }
}
