.account {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.account a:nth-child(1) {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.account button {
  width: 40%;
  padding: 3% 0;
  cursor: pointer;
  text-transform: uppercase;
  border: 3px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 30%);
  font-size: 20px;
}

.account input {
  padding: 2% 0;
}
.theme h1 {
  margin-top: 2%;
}
.account button {
  margin-top: 5%;
}
.or_register {
  font-size: 25px;
}
@media only screen and (max-width: 1366px) {
  label {
    margin: 25px;
  }
  p {
    margin: 2% 0;
  }
  .account button {
    margin-top: 3%;
  }
  #user_password2 {
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 1080px) {
  .account {
    width: 90%;
    margin-top: 2%;
  }
  .text_login,
  .register_name {
    font-size: 100px;
  }
  .account label {
    font-size: 60px;
  }
  .account input {
    height: 6vh;
    font-size: 60px;
  }
  .theme h1 {
    margin: 5%;
  }
  .or_register {
    font-size: 40px;
    margin-top: 4%;
  }
  .account button {
    width: 50%;
    font-size: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .account {
    width: 60%;
    margin-top: 1%;
  }
  .text_login,
  .register_name {
    font-size: 50px;
  }
  .account label {
    font-size: 30px;
  }
  .theme h1 {
    margin: 2% 0 0;
  }
  input[type='text'],
  .account input {
    height: 7vh;
  }
  .or_register {
    font-size: 25px;
  }
  .account button {
    width: 40%;
    font-size: 25px;
    padding: 2% 0;
  }
  .account button {
    margin-top: 1%;
  }
}
@media only screen and (max-width: 640px) {
  .account {
    width: 90%;
  }
  .theme h1 {
    margin: 4% 0;
  }
  .text_login,
  .register_name {
    font-size: 40px;
  }
  .account label {
    font-size: 25px;
  }
  .account input {
    font-size: 20px;
  }
  .or_register {
    font-size: 20px;
  }
  .account button {
    width: 50%;
    font-size: 20px;
    padding: 3% 0;
  }
  .account button {
    margin-top: 1%;
  }
  .account label {
    margin: 20px 0;
  }
}
