.sort_box {
  width: 50%;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
}
.sort_box .dark {
  width: 40%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.sort_box select,
.sort_box button {
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.sort_box button:nth-of-type(1) {
  border-width: 2px 0;
}
.sort_box select {
  width: 60%;
  font-size: 20px;
}
select option {
  background-color: rgba(0, 0, 0, 80%);
}
.sort_box button {
  width: 20%;
  transition: 0.2s;
}
.sort_box button i {
  font-size: 30px;
}
.sort_box button:hover {
  background-color: #fff;
  color: black;
}
@media only screen and (max-width: 1280px) {
  .sort_box {
    width: 55%;
  }
  .sort_box .dark {
    width: 50%;
  }
}
@media only screen and (max-width: 1080px) {
  .sort_box {
    width: 85%;
  }
  .sort_box .dark {
    width: 100%;
  }
  .sort_box select {
    font-size: 35px;
  }
  .sort_box button {
    font-size: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .sort_box {
    height: 10vh;
  }
  .sort_box select {
    font-size: 30px;
  }
}
@media only screen and (max-width: 360px) {
  .sort_box select {
    font-size: 15px;
  }
}
