* {
  box-sizing: border-box;
}
.app {
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: rgb(34, 34, 49);
  background: linear-gradient(
    90deg,
    rgba(34, 34, 49, 1) 19%,
    rgba(27, 61, 75, 1) 100%,
    rgba(3, 160, 169, 1) 100%,
    rgba(2, 0, 36, 1) 100%,
    rgba(0, 173, 181, 1) 100%
  );
}
nav ul {
  cursor: pointer;

  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav ul li {
  list-style: none;
  padding: 15px 0;
  width: 15%;
  transition: 0.2s;
}
li a {
  font-size: 30px;
  text-decoration: none;
  color: #eeeeee;
  text-transform: uppercase;
}
nav li:hover {
  border-bottom: 3px solid #00adb5;
  box-sizing: border-box;
}
nav h1 {
  width: 10%;
  padding-left: 15%;
  font-size: 60px;
  margin: auto;
}
